<footer class="teal">
    <div class="footer-copyright">
        <div class="container">
          <span class="grey-text text-lighten-4 left">Created by: Lane Herberholz</span>
          <a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/laneherby/TwitterRedditNodeWordClouds">Github</a>
        </div>
      </div>
</footer>