<nav>
    <div class="nav-wrapper teal">
        <a href="/" class="brand-logo" style="padding-left:10px">Wordclouds</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right:20px;">
            <li><a href="/reddit" class="fa fa-reddit"></a></li>
            <li><a href="/twitter" class="fa fa-twitter"></a></li>
        </ul>
    </div>
</nav>