<nav>
    <div class="nav-wrapper teal">
        <a href="/" class="brand-logo" style="padding-left:10px">Wordclouds</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right:10px;">
            <li style="padding:5px">Reddit</li>
            <li style="padding:5px">Twitter</li>
        </ul>
    </div>
</nav>