<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("parts/head") -%> 
</head>
<body>
  <%- include("layouts/header") -%> 

  <main>
    <div class="valign-wrapper" style="width:100%;height:80%;position: absolute;">
      <div class="valign" style="width:100%; height: 100%;">
        <div class="container center-align">
            <canvas id="cloudcontainer" height="500px" width="500px"></canvas>
        </div>
      </div>
    </div>
  </main>
  
  <%- include("layouts/footer") -%>

  <%- include("parts/wordcloud") -%>
</body>
</html>