<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("parts/head") -%> 
</head>
<body>
  <%- include("layouts/header") -%> 

  <div>    
    <h3><%= page %></h3><br>
    body
  </div>
  
  <%- include("layouts/footer") -%> 
</body>
</html>