<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("parts/head") -%> 
</head>
<body>
  <%- include("layouts/header") -%> 

  <main>
    <div class="valign-wrapper" style="width:100%;height:80%;position: absolute;">
      <div class="valign" style="width:100%;">
        <div class="container center-align">
          <div class="row">
            <div class="col s12 main-title white-text">
              <h4>What would you like to use to make a wordcloud?</h4>
            </div>
          </div>
          <div class="row">
            <div class="col m6 s12">
              <a href="/reddit">
                <div class="card teal darken-3 center-align">
                  <div class="card-content white-text">
                    <span class="card-title"><h5>Subreddit</h5></span>
                    <span class="fa fa-reddit card-fa"></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col m6 s12">
              <a href="/twitter">
                <div class="card teal darken-3 center-align">
                  <div class="card-content white-text">
                    <span class="card-title"><h5>Twitter</h5></span>
                    <span class="fa fa-twitter card-fa"></span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <%- include("layouts/footer") -%> 
</body>
</html>