<!DOCTYPE html>
<html lang="en">
<head>
 <%- include("parts/head") -%> 
</head>
<body>
  <%- include("layouts/header") -%> 

  <main>
      twitter
  </main>
  
  <%- include("layouts/footer") -%> 
</body>
</html>